body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
    margin: 0;
    padding-top: 56px;
}
.d-flex {
    display: flex;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    color: white;
    padding-top: 20px;
    box-sizing: border-box;
}
.sidebar hr {
    border: 0;
    height: 1px;
    background-color: #495057;
    margin: 10px 20px;
}
.sidebar nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s;
}
.sidebar nav a:hover {
    background-color: #495057;
}
.sidebar .ps-4 a {
    padding-left: 40px;
}
.flex-grow-1 {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}
.accordion button {
    color: white;
}

.accordion-button {
    color: white;
    background-color: #343a40;
    border: none;
    box-shadow: none;
}
.accordion button:focus {
    box-shadow: none; /* Remove the focus outline */
}
.accordion button:not(.collapsed) {
    color: white;
    background-color: #343a40;
    box-shadow: none; /* Remove the box shadow when expanded */
}
